* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

}

.header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  z-index: 10;
}

.logo {
  margin: 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #FFC107;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
}

.recipe-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  bottom: 0;
}

.btn-forward {
  background-color: purple;
}

.card-btn {
  display: flex;
  gap: 4rem;
}

/****** Add new recipe ******/
.add-recipe-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field input, textarea {
  width: 40%;
}